@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Scripture Journal";
}

<header>
  <h1>Welcome to Your Scripture Journal</h1>
  <p class="subHeader">Record and keep your scriptures notes organized</p>
</header>

  <main>
    <h2>Scriptures</h2>
    <p><a asp-page="/Scriptures/Index">View your scripture journal</a></p>
  </main>
